@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-black text-white;
}

@theme {
  --color-bnw-50: hsl(0, 0%, 95%);
  --color-bnw-100: hsl(0, 0%, 90%);
  --color-bnw-200: hsl(0, 0%, 80%);
  --color-bnw-300: hsl(0, 0%, 70%);
  --color-bnw-400: hsl(0, 0%, 60%);
  --color-bnw-500: hsl(0, 0%, 50%);
  --color-bnw-600: hsl(0, 0%, 40%);
  --color-bnw-700: hsl(0, 0%, 30%);
  --color-bnw-800: hsl(0, 0%, 20%);
  --color-bnw-900: hsl(0, 0%, 10%);
  --color-bnw-950: hsl(0, 0%, 5%);

  --color-primary-50: hsl(256, 83%, 95%);
  --color-primary-100: hsl(257, 83%, 88%);
  --color-primary-200: hsl(257, 82%, 82%);
  --color-primary-300: hsl(256, 84%, 73%);
  --color-primary-400: hsl(256, 83%, 65%);
  --color-primary-500: hsl(257, 83%, 55%);
  --color-primary-600: hsl(256, 67%, 45%);
  --color-primary-700: hsl(256, 67%, 33%);
  --color-primary-800: hsl(257, 66%, 22%);
  --color-primary-900: hsl(257, 68%, 11%);
  --color-primary-950: hsl(257, 68%, 6%);
}
